body {
	line-height:    120%;
    font-family:    "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:      14px;
    background:     #ecf0f4;
    margin:         0;
	padding:        0;
	border:         0;
	vertical-align: baseline;
}

#content {
    margin: 40px 7% 40px 7%;
}

#navbar {
    background-color: #2980b9;
    height:           25px;
    margin-bottom:    10px;
    font-family:      "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:        16px !important;
    padding:          15px 7% 15px 7%;
}

#home {
    float: left !important;
}

#navbar span {
    display:         inline-block;
    line-height:     normal;
    font-size:       15pt;
    vertical-align:  middle;
    float:           right;
}

#navbar span.external {
    padding-left:    30px;
}

#navbar a:hover {
    color:              #e74c3c;
    transition:         all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition:    all 100ms ease-in-out;
    -o-transition:      all 100ms ease-in-out;
    -ms-transition:     all 100ms ease-in-out;
}

#navbar a {
    text-decoration:    none;
    color:              #fff;
    transition:         all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition:    all 100ms ease-in-out;
    -o-transition:      all 100ms ease-in-out;
    -ms-transition:     all 100ms ease-in-out;
}

pre {
    border: 1px solid #dfdedc;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-size: 13px;
}

#content li {
    padding-top: 5px;
    padding-bottom: 5px;
}

a {
    color: #2980b9;
    text-decoration: none;
}

hr {
    border:           none;
    height:           1px;
    color:            #2980b9;
    background-color: #2980b9;
}

h1, h2, h3 {
    border-bottom: 1px solid #2980b9;
    color: #2980b9;
}

h1 {
    margin-bottom: 10px;
    margin-top: 30px;
    padding-bottom: 10px;
}

h2, h3 {
    margin-bottom: 5px;
    margin-top: 30px;
    padding-bottom: 5px;
}

time {
    font-size: 10px;
    color: #a09b96;
    padding-bottom: 200px;
    text-transform: uppercase;
}

div.title {
    margin-top: 5px;
    font-size: 21px;
    font-weight: bold;
}

ul.archive {
    padding: 0;
    list-style-type: none;
}

ul.archive li {
    border-bottom: 1px solid #dfdedc;
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    border-spacing:  0;
    border: 1px solid #2980b9;
}

tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}

thead th {
    background: #2980b9;
    color: #fff;
}

tr td {
    padding: 5px 10px 5px 40px;
}

tr td:first-child {
    padding-left: 10px;
}

#tutorials li {
    vertical-align: top;
    margin-right: 20px;
    display:   inline-block;
    width:     30%;
    min-width: 120px;
}

#tutorials i {
    color: #2980b9;
}

#tutorials a, #tutorials span {
    margin-left: 10px;
}
