body {
	line-height:    120%;
    /* I like the way https://plfa.github.io/ looks, so I basically stole this magical incantation. */
    font:           400 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background:     #ecf0f4;
    margin:         0;
	padding:        0;
	border:         0;
	vertical-align: baseline;
}

.wrapper {
    max-width:     calc(800px - (30px * 2));
    margin-left:   auto;
    margin-right:  auto;
    padding-left:  30px;
    padding-right: 30px;
}

#navbar {
    background-color: #2980b9;
    height:           25px;
    margin-bottom:    10px;
    padding:          15px 7% 15px 7%;
    font-size: 25px;
}

#home {
    float: left !important;
}

#navbar span {
    display:         inline-block;
    line-height:     normal;
    vertical-align:  middle;
    float:           right;
}

#navbar span.external {
    padding-left:    30px;
}

#navbar a:hover {
    color:              #79d0f9;
    transition:         all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition:    all 100ms ease-in-out;
    -o-transition:      all 100ms ease-in-out;
    -ms-transition:     all 100ms ease-in-out;
}

#navbar a {
    text-decoration:    none;
    color:              #fff;
    transition:         all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition:    all 100ms ease-in-out;
    -o-transition:      all 100ms ease-in-out;
    -ms-transition:     all 100ms ease-in-out;
}

pre {
    border:      1px solid #dfdedc;
    font-size:   0.85em;
}

pre span {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap:   break-word;     /* Internet Explorer 5.5+ */
}

a {
    color:           #2980b9;
    text-decoration: none;
}

hr {
    border:           none;
    height:           1px;
    color:            #2980b9;
    background-color: #2980b9;
}

h1, h2, h3 {
    border-bottom: 1px solid #2980b9;
    color:         #2980b9;
}

h1 {
    margin-bottom:  10px;
    margin-top:     30px;
    padding-bottom: 10px;
}

h2, h3 {
    margin-bottom:  5px;
    margin-top:     30px;
    padding-bottom: 5px;
}

time {
    color:         #a09b96;
    padding-bottom: 200px;
    text-transform: uppercase;
}

div.title {
    margin-top:  5px;
    font-weight: bold;
}

li p {
    padding: 0;
    margin: 0;
}

#footer {
    margin-top:    50px;
    margin-bottom: 100px;
    font-size: 14px;
}

#footer hr {
    border:           none;
    height:           1px;
    color:            #ccf;
    background-color: #ccf;
}

blockquote {
    background:  #f9f9f9;
    border:      1px solid #dfdedc;
    border-left: 10px solid #dfdedc;
    margin:      1.5em 5px;
    padding:     0.2em;
    quotes:      "\201C""\201D""\2018""\2019";
    color:       #5f5e5c;
}

blockquote p {
    padding: 0.5em;
    margin:  0;
}

table {
    border-collapse:  collapse;
    border-spacing:   0;
    border:           1px solid #2980b9;
    width:            100%;
}

tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}

thead th {
    background: #2980b9;
    color:      #fff;
}

tr td {
    padding: 5px 10px 5px 40px;
    text-align: center;
}

tr td:first-child {
    padding-left: 10px;
}

td ul {
    display: inline;
    margin:  0;
    padding: 0;
}

td ul li {
    display:    inline;
    list-style: none;
    margin:     0;
    padding:    0;
}

td ul li:after {
    content: ", ";
}

td ul li:last-child:after {
    content: "";
}

#tutorials {
    padding: 0;
}

#tutorials li {
    vertical-align: top;
    margin-right: 20px;
    display:   inline-block;
    width:     45%;
    min-width: 120px;
}

#tutorials i {
    color: #2980b9;
}

#tutorials a, #tutorials span {
    margin-left: 10px;
}
