package tabulate

trait GeneratedRowDecoders {
  [#def decoder1[[#A1#], R](f: ([#A1#]) => R)([#i1: Int#])(implicit [#a1: CellDecoder[A1]#]): RowDecoder[R] =
    RowDecoder(ss => for {
      [#f1 <- a1.decode(ss, i1)#
      ]
    } yield f([#f1#]))#
  ]

  [#implicit def tuple1[[#A1: CellDecoder#]]: RowDecoder[Tuple1[[#A1#]]] =
    decoder1(Tuple1.apply[[#A1#]])([#0#])#
  ]

}
