package kantan.csv

trait TupleInstances {
  [#implicit def tupleDecoder1[[#A1: CellDecoder#]]: RowDecoder[Tuple1[[#A1#]]] =
    RowDecoder.ordered1(Tuple1.apply[[#A1#]])#
  ]

  implicit def tupleEncoder1[A1: CellEncoder]: RowEncoder[Tuple1[A1]] =
    RowEncoder.ordered1(_._1)
  [2..#implicit def tupleEncoder1[[#A1: CellEncoder#]]: RowEncoder[Tuple1[[#A1#]]] =
    RowEncoder.ordered1((t: Tuple1[[#A1#]]) ⇒ t)#
  ]
}