name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os   :    [ubuntu-latest]
        scala:    [2.12.18, 2.13.6]
        platform: [jvm, js]
        java :    [8, 11]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup
        uses: olafurpg/setup-scala@v13
        with:
          java-version: "adopt@1.${{ matrix.java }}"

      - name: Cache
        uses: coursier/cache-action@v5

      - name: Test JVM
        if: matrix.platform == 'jvm'
        run: sbt ++${{ matrix.scala }} validateJVM

      - name: Test JS
        if: matrix.platform == 'js'
        run: sbt ++${{ matrix.scala }} validateJS
